@import url('https://fonts.googleapis.com/css2?family=Rasa:ital,wght@0,300..700;1,300..700&display=swap');

body {
  background-color: var(--cream);
}

:root {
  --cream: #F4F1E1;
  --lighter-blue: #71A2B6;
  --dark-blue: #48516D;
  --darker-blue: #2C3044;
  --red: #E27272;
  --orange-cream: #F2D8A3;
}